	<br>
	<legend>Anställda</legend>
	<br>
	<table class="table table-hover" >
  <tbody>
  	  <tr>
      <th scope="col">Namn</th>
      <th scope="col">Email</th>
      <th scope="col">Ta bort</th>
    </tr>
    <tr (click)="sven = !sven">
      <td>Emma Emmsson</td>
      <td>emma@exempel.se</td>
      <td><a href="#" >X</a></td>
    </tr>
    <tr>
      <td>Knut Knutsson</td>
      <td>knut@exempel.se</td>
      <td><a href="#" >X</a></td>
    </tr>

   </tbody>
  </table><br>
  	<input type= "button" class= "btn btn-outline-primary" value= "Lägg till anställd">
