<div class="row">
<form class= "col-lg-8"><br>    
	<h3>Registrera dig</h3>
	<br>

  <fieldset>

<legend>Kund- och Faktureringsuppgifter</legend><br>

    <div class="row container form-group">
      <label class="col-sm-4" for="firstName">Förnamn *</label>
      <input type="text" class="form-control col-sm-8" id="firstName">
    </div>
    <div class="row  container form-group">
      <label class="col-sm-4" for="lastName">Efternamn *</label>
      <input type="text" class="form-control col-sm-8" id="lastName">
    </div>
        <div class="row form-group container">
      <label class="col-sm-4" for="personalId">Personnummer *</label>
      <input type="number" class="form-control col-sm-8" id="personalId" placeholder="ex. 19450720-1234">
    </div>
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" value="">
        <label class="custom-control-label">
          Saknar svenskt personnummer
        </label>
      </div><br>
    <div class="form-group container row" style="border-top:solid; border-width: 1px; border-color: #ccc; padding-top: 1em">
    	<br>
      <label class="col-sm-4" for="country">Land</label>
      <select class="form-control col-sm-8" id="country">
        <option></option>
        <option>Sverige</option>
        <option>Finland</option>
        <option>Danmark</option>
        <option>Norge</option>
      </select>
    </div>
    <div class="row container form-group">
      <label class="col-sm-4" for="address">Postadress *</label>
      <input type="text" class="form-control col-sm-8" id="address">
    </div>
    <div class="row container form-group">
      <label class="col-sm-4" for="address2">Postadress 2</label>
      <input type="text" class="form-control col-sm-8" id="address2">
    </div>
    <div class="row container form-group">
      <label class="col-sm-4" for="postnr">Postnummer *</label>
      <input type="text" class="form-control col-sm-8" id="postnr">
    </div>
     <div class="row container form-group">
      <label class="col-sm-4" for="ort">Ort *</label>
      <input type="text" class="form-control col-sm-8" id="ort">
    </div>
    <div class="row container form-group" style="border-top:solid; border-width: 1px; border-color: #ccc; padding-top: 1em">
      <label class="col-sm-4" for="phoneHome">Telefon hem</label>
      <input type="number" class="form-control col-sm-8" id="phoneHome" >
    </div>
    <div class="row container form-group">
      <label class="col-sm-4" for="phoneCell">Telefon mobil</label>
      <input type="number" class="form-control col-sm-8" id="phoneCell" >
    </div><br>
    	    	<legend>Inloggningsuppgifter</legend><br>
    <div class="form-group container row">

      <label class="col-sm-4" for="email">Email adress *</label>
      <input type="email" class="form-control col-sm-8" id="email" placeholder="anders@exempel.com"></div>
          <div class="form-group container row">

      <label class="col-sm-4" for="confirmEmail">Bekräfta email adress *</label>
      <input type="email" class="form-control col-sm-8" id="confirmEmail"placeholder="anders@exempel.com">
    </div><br>
    <div class="form-group container row">
      <label class="col-sm-4" for="exampleInputPassword1">Lösenord *</label>
      <input type="password" class="form-control col-sm-8" id="password" ></div>

          <div class="form-group container row">
      <label class="col-sm-4" for="confirmPassword">Bekräfta lösenord *</label>
      <input type="password" class="form-control col-sm-8" id="confirmPassword" placeholder="Password">
    </div><br>
        <fieldset class="form-group">
      <legend>Villkorsavtal</legend>
      <div class="form-check container">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Jag godkänner
        </label>
      </div><br>

    </fieldset>
    <input type="submit" class="btn btn-primary" value= "Slutför">
 <br><br>

  </fieldset>
</form>
<div class="card border-light mb-3 col-lg-4" >
<br>
  <h5 class="card-header">Om dina personuppgifter</h5>
  <div class="card-body">
    <p class="card-text">Ändamålet med att behandla personuppgifter i vår bostadskö är att kunna erbjuda och förmedla lediga lägenheter till personer som är intresserade av en bostad inom SVPH.<br><br>

Vid kontrakt kommer dina uppgifter att flyttas över till vårt hyressystem som används för att administrera hyresförhållandet.<br><br>

Dina personuppgifter lagras under den tid som din ansökan eller ditt kontrakt är aktuellt. 
<br><br>
Genom att jag anmäler mig som bostadssökande hos SVPH, samtycker jag till att SVPH behandlar personuppgifter enligt ovan.<br>
Mer information finns om Du klickar Läs villkorsavtal.</p>
  </div>
</div>
</div>