<div *ngIf = "!this.authService.admin" class="container"><br>
<legend>Logga in som administratör</legend><br>
<form class="col-lg-6">
	<div class= "form-group">
		<label>Email</label>
		<input type= "text" class= "form-control" name="email">
	</div>
	<div class= "form-group">
		<label>Password</label>
		<input type= "password" class= "form-control" name="password">
	</div>
	<input type= "submit" class= "btn btn-primary" (click)= "onLogin()" value= "Logga in">

</form>
</div><br>
<div *ngIf= "this.authService.admin || this.authService.employee" class= "row container">
      <legend>Exempelinformation</legend><br><br>
    <table class="table table-hover">

    <tbody>
        <tr>
      <th scope="row">Fakturor med överskridet förfallod.</th>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">Accepterade erbjudanden</th>
      <td>3 st</td>
    </tr>
    <tr>
      <th scope="row">Nya lägenheter denna vecka</th>
      <td>2 st</td>
    </tr>
    <tr>
      <th scope="row">Nästa visning</th>
      <td>2018-10-14</td>
    </tr>

   </tbody>
</table> 
</div>