<div class="row">
<div class= "col-lg-4">
	<br>
	<legend>Visa:</legend>
<ul class="nav nav-pills flex-column" style= " border-right: solid; border-width: 1px; border-color: #ccc">
  <li class="nav-item" >
    <a class="nav-link" (click)= "this.page=1">Mina uppgifter</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" (click)= "this.page=5">Mina fakturor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)= "this.page=2">Sökprenumerationer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)= "this.page=3">Intresseanmälningar</a></li>
    <li class="nav-item ">
    <a class="nav-link" (click)= "this.page=4">Erbjudanden</a>
  </li>
  
</ul>
</div>
<div class= "col-lg-8 " >
<div *ngIf= "this.page == 1" >
<br>	<legend>Mina uppgifter</legend>


	<br>
<table class="table " >
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td>sven@test.se</td>
    </tr>
    <tr>
      <th scope="row">Förnamn</th>
      <td>Sven</td>
    </tr>
    <tr>
      <th scope="row">Eftenamn</th>
      <td>Svensson</td>
    </tr>
    <tr>
      <th scope="row">Personnummer</th>
      <td>19551219-1111</td>
    </tr>   
        <tr style="border-top:solid;border-top-width: 1.5px;">
      <th scope="row">Land</th>
      <td>Sverige</td>
    </tr>
        <tr>
      <th scope="row">Postadress</th>
      <td>Drottninggatan 1</td>
    </tr> 
        <tr>
      <th scope="row">Postnummer</th>
      <td>17683</td>
    </tr> 
        <tr >
      <th scope="row">Ort</th>
      <td>Stockholm</td>
    </tr> 
        <tr style="border-top:solid;border-top-width: 1.5px;">
      <th scope="row">Telefon hem</th>
      <td>08-111111</td>
    </tr> 
         <tr>
      <th scope="row">Telefon mobil</th>
      <td>073-57344529</td>
    </tr> 
   </tbody>
</table> 
<input type= "button" class="btn btn-outline-primary" value="Ändra">
<input type= "button" class="btn btn-danger" value="Ta bort konto" style="margin-left: 1em">

<br><br><br>
<legend>Byt Lösenord</legend>
<br>
<form >
	<div class= "form-group row ">
		<label class="col-sm-6">Gammalt lösenord</label>
		<input type= "password" class= "form-control col-sm-6" name="email">
	</div>
	<div class= "form-group row">
		<label class="col-sm-6">Nytt lösenord</label>
		<input type= "password" class= "form-control col-sm-6" name="password">
	</div>
	<div class= "form-group row">
		<label class="col-sm-6">Bekräfta nytt lösenord</label>
		<input type= "password" class= "form-control col-sm-6" name="password">
	</div>
	<input  type= "button" class= "btn btn-outline-primary" value= "Byt" style="margin-bottom: 1em">

</form>
</div>

<div *ngIf="this.page==2" >

<br>
<legend>Mina sökprenumerationer</legend>
<br>
<table class="table" >
  <tbody>
  	  <tr>
      <th scope="col">Antal personer</th>
      <th scope="col">Områden</th>
      <th scope="col">Antal rum</th>
      <th scope="col">Status</th>
    </tr>
    <tr>
      <td>2</td>
      <td>Nockebyhus, Fredhäll</td>
      <td>2,3</td>
      <td>Aktiv</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Nockebyhem</td>
      <td>1,2</td>
      <td>Stoppad</td>
    </tr>
   </tbody>
  </table><br><br>
<legend>Lägg till Sökprenumeration</legend>
<br>
<form>
	<h6>Lägenheter för * personer</h6>

	<div class="form-group row container">
    <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="onePerson">
      <label class="custom-control-label" for="onePerson">1</label>
    </div>
    <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="twoPerson">
      <label class="custom-control-label" for="twoPerson">2</label>
    </div>
  </div><br>
  	<h6>Antal rum</h6>

	<div class="form-group row container">
    <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="oneRoom">
      <label class="custom-control-label" for="oneRoom">1</label>
    </div>
    <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="twoRoom">
      <label class="custom-control-label" for="twoRoom">2</label>
    </div>
        <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="threeRoom">
      <label class="custom-control-label" for="threeRoom">3</label>
    </div>
  </div>
  <br>
  	<h6>Område</h6>

	<div class="form-group row container">
    <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="nockebyhus">
      <label class="custom-control-label" for="nockebyhus">Nockebyhus</label>
    </div>
    <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="nockebyhem">
      <label class="custom-control-label" for="nockebyhem">Nockebyhem</label>
    </div>
        <div class="custom-control custom-checkbox col-sm-4">
      <input type="checkbox" class="custom-control-input" id="fredhäll">
      <label class="custom-control-label" for="fredhäll">Fredhäll</label>
    </div>
  </div>
	<input type= "submit" class= "btn btn-primary" value= "Lägg till">

</form>
	</div>

	<div *ngIf="this.page==3">
		<br>
		<legend>Mina Intresseanmälningar</legend><br>
		<div class="row" style="border-right: solid; border-bottom: solid; border-width: 1px; border-color: #ccc; margin: 0.5em">
<img class="col-lg-4" src="https://bilder.hemnet.se/images/results_list/d9/d2/d9d289ae66463fac82347e47a39a2856.jpg">
<div class="col-lg-8" style= "text-align: left">
		<h6>Nockebygatan 5a</h6>

	<div class="row">

	<p class= "col-lg-6">55 kvm   <br> 2 rum</p>
	<p class= "col-lg-6">2000 kr/mån   <br>1 person</p>
</div>
</div>
</div>

<div class="row" style="border-right: solid; border-bottom: solid; border-width: 1px; border-color: #ccc; margin: 0.5em">
<img class="col-lg-4" src="https://bilder.hemnet.se/images/results_list/e9/7d/e97d1c1048986104d577644b1b0bac74.jpg">
<div class="col-lg-8" style= "text-align: left">
		<h6>Fredhällplan 20</h6>

	<div class="row">

	<p class= "col-lg-6">30 kvm   <br> 1 rum</p>
	<p class= "col-lg-6">2000 kr/mån   <br>1 person</p>
</div>
</div>
</div>
	</div>
	<div *ngIf="this.page==4">
	<br>
		<legend>Mina Erbjudanden</legend><br>
		<p>(Hur ser detta ut?)</p>
	</div>

		<div *ngIf="this.page==5">
	<br>
		<legend>Mina Fakturor</legend><br>
		<table class="table " >
  <tbody>
  	  <tr>
      <th scope="col">Datum</th>
      <th scope="col">Status</th>
      <th scope="col">Ocr</th>
      <th scope="col">Faktura</th>
    </tr>
    <tr>
      <td>2017-01-30</td>
      <td>Betald</td>
      <td>400027678</td>
      <td>Pdf länk</td>
    </tr>
    <tr>
      <td>2018-01-30</td>
      <td>400027656</td>
      <td>Obetald</td>
      <td><a href="/../../assets/Invoice-703C55F-0001.pdf">Pdf länk</a></td>
    </tr>
   </tbody>
  </table><br><br>
	</div>


</div></div>

